.App {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

.loader {
  border: 3px solid #fed000; /* Light grey */
  border-top: 3px solid #d11112; /* Blue */
  border-radius: 50%;
  display: inline-block;
  width: 60px;
  height: 60px;
  margin: 30px 0px 0px 0px;
  animation: spin 1s linear infinite;
}

.loader-small {
  width: 10px;
  height: 10px;
  margin: 3px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.ErrorBar {
  background: #FF5252;
  color: white;
  padding: 10px;
  width: 100%;
}

.ErrorBar--title {
  margin: 0px 0px 10px 0px;
}

.ErrorBar--closeButton {
  display: block;
  margin: 10px 0px 0px 0px;
}

.CharacterInfoPage {
  background-color: #333;
  margin-top: 50px;
  padding-bottom: 20px;
}

.CharacterInfoPage--title {
  background-color: #fed000;
  color: #222;
  font-size: 36px;
  font-weight: bold;
  margin: 0px 0px 20px 0px;
  padding: 0px;
  width: 100%;
}

.CharacterInfoPropertyName {
  background-color: #d11112;
  font-weight: bold;
  padding: 2px 5px;
}

.SearchResult--oneResult {
  background: #d11112;
  cursor: pointer;
  margin: 5px auto;
  padding: 5px 0px;
  width: 80%;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.SearchResult--oneResult:hover {
  background: #af090a;
}

.SearchResult--pageButton {
  color: #222;
  cursor: pointer;
  background-color: #fed000;
  padding: 3px 6px;
  margin: 3px;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

.SearchResult--pageButton:hover {
  background-color: #f5a904;
  padding: 3px 6px;
}

.searchInput {
  border: 0px;
  color: black;
  height: 40px;
  font-size: 18px;
  text-align: center;
  width: 100%;
}