.App {
  text-align: center;
}

.ErrorBar {
  background: #FF5252;
  color: white;
  padding: 10px;
  width: 100%;
}

.ErrorBar--title {
  margin: 0px 0px 10px 0px;
}

.ErrorBar--closeButton {
  display: block;
  margin: 10px 0px 0px 0px;
}